**/.~lock.Git.odt#
**/.~lock*
node_modules
UIPath
chatgpt
CLASE FP
Fp DAM
APUNTES
**/Projectos/TrabajoFG/flutter_agenda/windows/
**/Projectos/TrabajoFG/flutter_agenda/macos/
**/Projectos/TrabajoFG/flutter_agenda/linux/